/* Font for Bethany Logo */
@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

header {
  background-color: #307386;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-branding {
  color: white;
  font-size: 25px;
  font-family: "Pirata One", system-ui;
}

.nav-brand-image {
  width: 40px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.nav-link {
  transition: all 0.3s ease-in-out;
}
.nav-link:hover {
  color: #051627;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #286070;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    right: 0;
  }
}

/* /////////////////////// */
/* //// -- Homepage - //// */
/* /////////////////////// */
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* homepage heading and subheadings */
.homepage-texts {
  padding: 10px;
  margin: 20px;
  background-color: bisque;
}

.homepage-heading {
  font-size: 35px;
  font-weight: 600;
}

.homepage-image {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
}

.church-image {
  width: 70%;
}

@media (min-width: 900px) {
  .homepage {
    padding:30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
  }
  .homepage-texts {
    margin: 0;
    flex: 2;
    background-color: antiquewhite;
  }
  .homepage-image {
    flex: 1;
    margin: 0;
  }
  .church-image {
    max-width: 600px;
  }
}